.period{
  display: flex;
  margin: 0 -1rem;
	margin-bottom: 3rem;
}

.period select{
margin: 1rem
}

.period button{
  margin: 1rem;
}

input[type="submit"]{
	display: block;
	margin-left: auto;
}




.result{
  padding: 1rem;
  border: solid 1px #4d4dca;
  border-radius: 4px;
  color: #4d4dca
}


.flex{
	margin-bottom: 1rem;
}

.preview{
	margin-bottom: 3rem;
}

.preview img{
	display: block;
	width: auto;
	height: 100px;
}